@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {    /* Utilizing a body as a flex container with a column direction to seamlessly align the content vertically.*/
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header and Footer Background color */
.header,
.footer {
    background-color: #1F2937;
}
/* ------------------------------------ */

/* Styling Header :
Header has 2 parts 
Part 1. Logo and links
Part 2. Website Info with signup link and header image
*/

.header {         /* Aligns two parts of the headers vertically */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
    gap: 100px;
}

/* ----------------------Styling Header part 1 ----------------------------------- */

.header_part1 {               /* Further aligns logo and links inside Header part 1 using flex property horizontally*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {                       /* Styles Header Logo */
    font-size: 24px;
    font-weight: bold;
}

/* Styles header links */
ul {                         /* Aligns list items horizontally */
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #63676c;
  }

/* -----------------------------End of Header 1 styling ---------------------------*/ 

/* Grouped header 1 and header 2 selectors and element that share common properties */
.logo,
.header_text {                           
    color: #F9FAF8;
}

a,
.secondary_text {
    font-size: 18px;
    color: #E5E7Eb;
}
/*-------------------End of Grouped Header 1 and Header 2 selectors/elements  --------------------------- */


/* ----------------------Styling Header part 2 ----------------------------------- */

.header_part2 { /* Aligns Website Info with signup link and header image inside Header part 2 using flex property horizontally*/
    display: flex;
    gap: 50px;   
    margin-bottom: 50px;
}

.header_content {
    padding: 0;
    margin: 0;
    text-align: left;
}

.header_text {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    width: 350px;
}

.secondary_text {
    width: 450px;
}

.signup_button {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

.header_image {
    color: #E5E7Eb;
    background-color: #63676c;
    flex: 1;
    height: 400px;
    line-height: 200px;
    text-align: center;
    flex: 2 1 auto;
}


/* -----------------------------End of Header 2 styling ---------------------------*/ 



/* Style Main Container: 
Main Container has 3 sections
--------------------------------------------------------------------------------*/
.main {
    flex: 1;
   
}

/* Style Section 1 */
.section_1 {
    padding: 40px 150px;
    text-align: center;
}

.information_header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937; 
} 


.information {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.subtext,
.illustration {
    width: 150px;
}


.illustration {
    border: 3px solid #3882F6;
    border-radius: 20px;
    height: 150px;
}

/* End of Section 1  */


.section_2 {
    background-color: #E5E7EB;
  
}


.testimonial {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 350px;
}

.testimonial .author {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
}

/* End of Section 2*/

/* Section 3 */

.section_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
}

.cta_container {
    background-color: #3882F6;
    border-radius: 8px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 0;
    padding: 40px;
}

.cta_text {
    font-size: 18px;
}

.cta_subtext {
    color: #E5E7Eb;
    font-weight: 400;
}

/* Remove padding and margin from the h2 and p elements */
.cta_text, .cta_subtext {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.cta_button {
    border: 2px solid white; /* white border */
    border-radius: 6px;
    padding: 5px 30px;
    background-color: transparent; /* Transparent background */
    color: white; /* Black text color */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* End of Section 3 */


/* ------------------------------- End of Main Container -------------------------------- */

/* ------------------------ Style Footer------------------------- */
.footer {
    height: 100px;
    color: #f8e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    word-spacing: 2px;
}

/* -------------------------End of Footer styling --------------------- */

/* Styles for viewport widths up to 768px */
@media (max-width: 768px) {
    /* Your CSS rules for smaller screens */
    .information {
      flex-direction: column; /*  changing layout for smaller screens */
    }

    .header_part2 {
        flex-direction: column;
    }

}